<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row" id="titleContainer">
				<div clabss="col-md-12" id="introNav">
					<ul>
						<li>About</li>
						<li>Projects</li>
						<li>Resume</li>
						<li>Contact</li>
					</ul>
				</div>
				<h1 id="bigName">Ian Char</h1>
				<br>
			</div>
			<div class="row bodyContainer">
				<div class="container" style="padding: 0;">
					<!-- FIRST SECTION -->
					<div class="section" id="section1">
						<div class="row  sectionHeader">
							<div class="col-md-12">
								<h1>About Me</h1>
							</div>
						</div>
						<div class="row sectionBody">
							<div class="col-md-7" id="mePicContainer">
								<img src="/images/me.jpg" id="mePic">
							</div>
							<div class="col-md-5">
								<h3 class="subtitle"> Me </h3>
								<p>I was born and raised in Lakewood, Colorado and am currently attending <b>University of Colorado at Boulder</b> to study <b>Computer Science</b> and <b>Applied Mathematics</b> (Class of 2017). Aside from computer science and math, I am very passionate about music. I have been playing <b>music</b> since the age of 6 and during that time have participated in several bands playing several instruments such as the drums, clarinet, and piano. I also love to play <b>tennis</b> and was on the varsity team for three of my four years in high school.</p>
								<h3 class="subtitle"> Academics </h3>
								<p>In terms of computer science and mathematics, I have been able to apply my skills in numerous ways. Throughout my time at CU, I have had the privilege of working with Professor Tom Yeh in the computer science department as a <b>research assistant</b>. For the summer of 2015, I will be working at <b>Google</b> as an intern. Additionally, I have participated in several events such as CU's <b>hackathon</b> and represented CU in the <b>Mathematica Modeling Competition (MCM)</b>. What excites me most is how we can apply mathematical concepts to computer science in areas such as <b>data mining</b> and <b>machine learning</b>, and I hope to learn more about these subjects in the future.</p>
							</div>
						</div>
					</div>
					<!-- Second SECTION -->
					<div class="section" id="section2">
						<div class="row sectionHeader">
							<div class="col-md-12">
								<h1>Projects</h1>
							</div>
						</div>
						<br>
						<div class="row">
							<ul style="list-style-type: none;">
								<li class="ImgContainer"><img src="/images/twitterFeels.jpg" class="projectImg"></li>
								<li class="ImgContainer"><img src="/images/expenshareSquare.jpg" class="projectImg"></li>
								<li class="ImgContainer"><img src="/images/MCMpic.jpg" class="projectImg"></li>
							</ul>
							<ul style="list-style-type: none;">
								<li class="ImgContainer"><img src="/images/soundscapeSquare.jpg" class="projectImg"></li>
								<li class="ImgContainer"><img src="/images/kinomaSquare.jpg" class="projectImg"></li>
								<li class="ImgContainer"><img src="/images/lakeSquare.jpg" class="projectImg"></li>
							</ul>
						</div>
						<div class="row">
						</div>
					</div>
					<!-- THIRD SECTION -->
					<div class="section" id="section3">
						<div class="row sectionHeader">
							<div class="col-md-12">
								<h1>Resume</h1>
							</div>
						</div>
					</div>
					<!-- FOURTH SECTION -->
					<div class="section" id="section4">
						<div class="row sectionHeader">
							<div class="col-md-12">
								<h1>Contact</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>