<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery-2.1.4.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row" id="titleContainer">
				<div clabss="col-md-12" id="introNav">
					<ul>
						<li>About</li>
						<li>Projects</li>
						<li>Resume</li>
						<li>Contact</li>
					</ul>
				</div>
				<h1 id="bigName">Ian Char</h1>
				<br>
			</div>
			<div class="row bodyContainer">
				<div class="container" style="padding: 0;">
					<!-- FIRST SECTION -->
					<div class="section" id="section1">
						<div class="row  sectionHeader">
							<div class="col-md-12">
								<h1>About Me</h1>
							</div>
						</div>
						<div class="row sectionBody">
							<div class="col-md-7" id="mePicContainer">
								<img src="/images/me.jpg" id="mePic">
							</div>
							<div class="col-md-5">
								<h3 class="subtitle"> Me </h3>
								<p>I was born and raised in Lakewood, Colorado and am currently attending <b>University of Colorado at Boulder</b> to study <b>Computer Science</b> and <b>Applied Mathematics</b> (Class of 2017). Aside from computer science and math, I am very passionate about music. I have been playing <b>music</b> since the age of 6 and during that time have participated in several bands playing several instruments such as the drums, clarinet, and piano. I also love to play <b>tennis</b> and was on the varsity team for three of my four years in high school.</p>
								<h3 class="subtitle"> Academics </h3>
								<p>In terms of computer science and mathematics, I have been able to apply my skills in numerous ways. Throughout my time at CU, I have had the privilege of working with Professor Tom Yeh in the computer science department as a <b>research assistant</b>. For the summer of 2015, I will be working at <b>Google</b> as an intern. Additionally, I have participated in several events such as CU's <b>hackathon</b> and represented CU in the <b>Mathematica Modeling Competition (MCM)</b>. What excites me most is how we can apply mathematical concepts to computer science in areas such as <b>data mining</b> and <b>machine learning</b>, and I hope to learn more about these subjects in the future.</p>
							</div>
						</div>
					</div>
					<!-- Second SECTION -->
					<div class="section" id="section2">
						<div class="row sectionHeader">
							<div class="col-md-12">
								<h1>Projects</h1>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-1" style="margin-right: 4em;"></div>
							<div class="col-md-3">
								<div id="imgExpenshare" data-toggle="modal" data-target="#expenshareModal">
									<div class="imgOverlay">Expenshare</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="expenshareModal" tabindex="-1" role="dialog" aria-labelledby="Expenshare" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title">Expenshare</h3>
								        <a href="https://github.com/Brennan-M/ExpenShare" target="_blank"><image src="/images/git.png" style="display: inline; height: 3em;"></a>
								      </div>
								      <div class="modal-body" style="height:75vh">
								       	<p>Expenshare was a school project that I worked on for Software Methods and Tools with <a href="https://github.com/Brennan-M" target="_blank">Brennan McConnell</a> and <a href="https://github.com/taylorjandrews" target="_blank">Taylor Andrews</a>. The website is an easy way for groups of people to keep track of expenses and how much they owe each other. The website was built with the Django framework and the creation process emphasized the use of Agile ideology. You can see the website <a href="http://expen-share.herokuapp.com/share/" target="_blank">here</a>.</p>
								       	<img src="/images/Expenshare.jpg" style="width: 100%;">
								      </div>
								    </div>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div id="imgSoundscape" data-toggle="modal" data-target="#soundscapeModal">
									<div class="imgOverlay">Soundscape</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="soundscapeModal" tabindex="-1" role="dialog" aria-labelledby="Soundscape" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title">Soundscape</h3>
								        <a href="https://github.com/IanChar/soundscape" target="_blank"><image src="/images/git.png" style="display: inline; height: 3em;"></a>
								      </div>
								      <div class="modal-body">
								       	<p>Soundscape was an independent project that I collaborated on with <a href="https://github.com/lechengfan" target="_blank">Tommy Fan</a>. The website was built with the Django framework and allows users to share songs they like and created on SoundCloud geographically through the Google Maps API. You can see the website <a href="http://soundscape-soundmap.herokuapp.com/soundmap/" target="_blank">here</a>.</p>
								       	<img src="/images/soundscape.jpg" style="width: 100%;">
								      </div>
								    </div>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div id="imgMCM">
									<div class="imgOverlay" data-toggle="modal" data-target="#mcmModal">MCM</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="mcmModal" tabindex="-1" role="dialog" aria-labelledby="MCM" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title">Mathematical Contest in Modeling</h3>
								      </div>
								      <div class="modal-body" style="height: 60vh">
								       	<div class="col-md-7">
								       		<img src="/images/MCMpic.jpg" style="width: 100%;">
								       	</div>
								       	<div class="col-md-5">
								       		<p>The Mathematical Contest in Modeling(MCM) is an international competition held every year by the ACM. I, along with <a href="https://github.com/94kazakov" target="_blank">Denis Kazakov</a> and Derek Driggs, represented one of seven CU teams for 2015. The problem we picked to model was the best way to distribute a hypothetical vaccine for ebola. We did this by representing the spread of disease with a Markov network. You can learn more about the MCM competition <a href="http://www.comap.com/index.html" target="_blank">here</a>.</p>
							       		</div>
								      </div>
								    </div>
								  </div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-1" style="margin-right: 4em;"></div>
							<div class="col-md-3">
								<div id="imgTwitter">
									<div class="imgOverlay" data-toggle="modal" data-target="#twitterModal">Twitter Feels</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="twitterModal" tabindex="-1" role="dialog" aria-labelledby="twitter" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title">Twitter Feels</h3>
								        <a href="https://github.com/Brennan-M/TwitterFeels" target="_blank"><image src="/images/git.png" style="display: inline; height: 3em;"></a>
								      </div>
								      <div class="modal-body" style="height: 50vh">
								       	<div class="col-md-6">
								       		<img src="/images/twitterFeels.jpg" style="width: 100%;">
								       	</div>
								       	<div class="col-md-6">
								       		<p>This website was developed by myself, <a href="https://github.com/Brennan-M" target="_blank">Brennan McConnell</a>, <a href="https://github.com/sperry94" target="_blank">Seth Perry</a>, and <a href="https://github.com/94kazakov" target="_blank">Denis Kazakov</a> during <a href="http://hackcu.org/" target="_blank">Hack CU</a>. The website allows users to query tweets with a certain keyword and perform sentiment analysis on it; the results from the query are then used to color in the states of the US where brighter colors represent a positive attitude and negative colors represent a negative attitude.</p>
							       		</div>
								      </div>
								    </div>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div id="imgUIST" data-toggle="modal" data-target="#uistModal">
									<div class="imgOverlay">UIST Competition</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="uistModal" tabindex="-1" role="dialog" aria-labelledby="Uist" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title">UIST Student Competition</h3>
								        <a href="https://github.com/derekriemer/uist2014_colo" target="_blank"><image src="/images/git.png" style="display: inline; height: 3em;"></a>
								      </div>
								      <div class="modal-body" style="height: 95vh">
								       	<p>I competed in the UIST 2014 student competition along with Jackie Cameron and <a href="https://github.com/derekriemer" target="_blank">Derek Riemer</a>. Our application utilized the Kinoma Create and several light sensors to allow visually impaired people the ability to tell whether different household devices were on based on the visual cues they had on them (e.g. an on light on a router). We were awarded 2nd place in the most useful category for our application.</p>
								       	<img src="/images/uist.jpg" style="width: 100%;">
								      </div>
								    </div>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div id="imgSpectral" data-toggle="modal" data-target="#spectralModal">
									<div class="imgOverlay">Spectral Clustering</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="spectralModal" tabindex="-1" role="dialog" aria-labelledby="Spectral" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h3 class="modal-title">Spectral Clustering</h3>
								        <a href="https://github.com/94kazakov/Spectral-Clustering" target="_blank"><image src="/images/git.png" style="display: inline; height: 3em;"></a>
								      </div>
								      <div class="modal-body" style="height: 75vh">
								       	<p>For a our final project in our Matrix Methods class, <a href="https://github.com/94kazakov" target="_blank">Denis Kazakov</a>, <a href="https://github.com/effervescentFibration" target="_blank">Rhys Olsen</a>, and I learned about spectral clustering through several papers and articles. We then applied these concepts by using the Scipy package to analyze where bodies of water are on maps. A paper was also written to accompany these results.</p>
								       	<img src="/images/processedLake.png" style="width: 100%;">
								      </div>
								    </div>
								  </div>
								</div>
							</div>
						</div>
						<a href="https://github.com/IanChar" target="_blank"><image src="/images/transparentGit.png" style="display: inline; height: 6em; margin-left: 47.5%; margin-top: -2em;"></a>
					</div>
					<!--Script for pic overlays-->
					<script>
						$('.imgOverlay').hover(function() {
						    $(this).fadeTo('fast', 0.9, function(){});
						}, function() {
						    $(this).fadeTo('fast', 0, function(){});
						});
					</script>
					<!-- THIRD SECTION -->
					<div class="section" id="section3">
						<div class="row sectionHeader">
							<div class="col-md-12">
								<h1>Resume</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="tabContainer">
								<ul class="nav nav-tabs" role="tablist" id="myTab">
								  <li role="presentation" class="active"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
								  <li role="presentation"><a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work Experience</a></li>
								  <li role="presentation"><a href="#academics" aria-controls="academics" role="tab" data-toggle="tab">Academics</a></li>
								</ul>

								<div class="tab-content">
								  <div role="tabpanel" class="tab-pane active" id="skills">
								  	<div class="col-md-1"> <!--spacing--></div>
								  	<div class="col-md-2">
								  		<br>
								  		<h4>Most Comfortable</h4>
								  		<br>
								  		<img src="/images/doubleArrow.png" style="left: 50%; width: 100%">
								  		<br><br>
								  		<h4>Some Experience</h4>
								  	</div>
								  	<div class="col-md-8">
								  		<br>
								  		<ul class="skillsul">
								  			<li class="skillsli1">Python</li>
								  			<li class="skillsli1">Javascript</li>
								  			<li class="skillsli1">Java</li>
								  		</ul>
								  		<br><br>
								  		<ul class="skillsul">
								  			<li class="skillsli2">HTML</li>
								  			<li class="skillsli2">CSS</li>
								  			<li class="skillsli2">NodeJS</li>
								  			<li class="skillsli2">Django</li>
								  			<li class="skillsli2">Bootstrap</li>
							  			</ul>
							  			<br><br>
							  			<ul class="skillsul">
								  			<li class="skillsli3">C++</li>
								  			<li class="skillsli3">jQuery</li>
								  			<li class="skillsli3">BASH Scripting</li>
								  			<li class="skillsli3">Mathematica</li>
								  			<li class="skillsli3">Scala</li>
								  		</ul>
								  		<br><br>
								  		<ul class="skillsul">
								  			<li class="skillsli4">Matlab</li>
								  			<li class="skillsli4">SQL</li>
								  			<li class="skillsli4">Tableau</li>
								  		</ul>
								  	</div>
								  	<div class="col-md-1"> <!--spacing--></div>
								  </div>
								  <div role="tabpanel" class="tab-pane" id="work">
								  </div>
								  <div role="tabpanel" class="tab-pane" id="academics">
								  </div>
								</div>
							</div>

							<script>
							  $(function () {
							    $('#myTab a:last').tab('show')
							  })
							</script>
						</div>
					</div>
					<!-- FOURTH SECTION -->
					<div class="section" id="section4">
						<div class="row sectionHeader">
							<div class="col-md-12">
								<h1>Contact</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>