<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row" id="titleContainer">
				<div class="col-md-12" id="introNav">
					<ul>
						<li>About</li>
						<li>Projects</li>
						<li>Resume</li>
						<li>Contact</li>
					</ul>
				</div>
				<h1 id="bigName">Ian Char</h1>
				<br>
			</div>
			<div class="row bodyContainer">
				<div class="container">
					<div class="row section">
						<div class="col-md-12 sectionHeader">
							<h1>About Me</h1>
						</div>
					</div>
					<br>
					<div class="row section">
						<div class="col-md-12 sectionHeader">
							<h1>Projects</h1>
						</div>
					</div>
					<br>
					<div class="row section">
						<div class="col-md-12 sectionHeader">
							<h1>Resume</h1>
						</div>
					</div>
					<br>
					<div class="row section">
						<div class="col-md-12 sectionHeader">
							<h1>Contact</h1>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</body>
</html>