/*https://color.adobe.com/Theme-3-color-theme-6075720/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Theme%203&mode=rgb&rgbvalues=0.0784313753247261,0.2000000029802322,0.4509803950786591,0.05882352963089943,0.1568627506494522,0.3490196168422699,0.20057142090979924,0.2265714180870926,0.26,0.6666666865348816,0.7098039388656616,0.7490196228027344,0.9215686321258545,0.9411764740943909,0.9490196108818054&swatchOrder=0,1,2,3,4*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/redRocks.jpg");
  background-repeat: no-repeat;
  background-size: 100% 45em;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

p {
	font-size: 1.1em;
	color: #C1CDD9;
}

b {
	color: #2B73FF;
}

.container {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
}

#titleContainer {
	background-color: rgba(255, 255, 255, 0.0);
	height: 100vh;
}

.bodyContainer {
	position: absolute;
	float: left;
	width: 100%;
	height: 100vh;
	color: white;
	padding: 0em;
}

#introNav {
	color: white;
	font-size: 2em;
	margin-top: 1.25em;
	background-color: rgba(51,58,66,0.4);
	padding: 0.25em;
}

#introNav ul {
	list-style-type: none;
	left: 50%;
	text-align: center;
}

#introNav li {
	display: inline;
	margin-right: 5em;
}

#bigName {
	color: white;
	font-size: 5em;
	position: relative;
	vertical-align: middle;
	top: 30%;
	text-align: center;
}

.sectionHeader{
	background-color: rgba(15, 40, 89, 0.5);
	text-align: center;
	color: #EBF0F2;
}

.sectionBody{
	width: 100%;
	padding: 0.5em;
}

.section {
	width: 100%;
	padding-bottom: 1.5em;
}

#section1 {
	background-color: rgba(51,58,66,1);
}

#section2 {
	background-color: rgba(51,58,66,1);
}

#section3 {
	background-color: rgba(51,58,66,1);
}

#section4 {
	background-color: rgba(51,58,66,0.7);
}

#mePicContainer {
	padding-top: 2.5em;
}

#mePic {
	max-width: 100%;
	max-height: 100%;
}

.subtitle{
	color: #EBF0F2;
}


.imgOverlay {
	display: absolute;
	background-color: rgba(51,58,66,0.9);
	width: 100%;
	height: 100%;
	padding-top: 5em;
	text-align: center;
}

#imgExpenshare {
	background-image: url("/images/expenshareSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgSoundscape {
	background-image: url("/images/soundscapeSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgMCM {
	background-image: url("/images/MCMpic.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgTwitter {
	background-image: url("/images/twitterFeels.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgUIST {
	background-image: url("/images/kinomaSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgSpectral {
	background-image: url("/images/lakeSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}