/*https://color.adobe.com/Theme-3-color-theme-6075720/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Theme%203&mode=rgb&rgbvalues=0.0784313753247261,0.2000000029802322,0.4509803950786591,0.05882352963089943,0.1568627506494522,0.3490196168422699,0.20057142090979924,0.2265714180870926,0.26,0.6666666865348816,0.7098039388656616,0.7490196228027344,0.9215686321258545,0.9411764740943909,0.9490196108818054&swatchOrder=0,1,2,3,4*/
html, body {
    overflow-x: hidden;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/redRocks.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
}

a {
  color: #2B73FF;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #1F4EB0;
}

p {
	font-size: 1.1em;
	color: #C1CDD9;
}

b {
	color: #2B73FF;
}

.hidden {
	display: none;
}

.container {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
}

#titleContainer {
	background-color: rgba(255, 255, 255, 0.0);
	height: 100vh;
}

#dynamicNav {
	position: fixed;
	z-index: 1;
	width: 110%;
	margin-left: -2em;
}

.bodyContainer {
	position: absolute;
	float: left;
	width: 100%;
	height: 100vh;
	color: white;
	padding: 0em;
}

#introNav {
	color: white;
	font-size: 2em;
	margin-top: 1.25em;
	background-color: rgba(51,58,66,0.4);
	padding: 0.25em;
}

#introNav ul {
	list-style-type: none;
	left: 50%;
	text-align: center;
}

#introNav li {
	display: inline;
	margin-right: 5em;
}

#introNav a {
	color: white;
}

#headerList {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translatex(-50%);
	list-style-type: none;
}

#bigName {
	color: black;
	font-size: 150px;
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
}

#buttonList {
	list-style-type: none;
  position: relative;
	vertical-align: middle;
}

.sec1Buttons {
	height: 75px;
	margin-right: 50px;
	display: inline;
}

.sec4Buttons {
	height: 6em;
	margin-left: 47.5%;
}

.sectionHeader{
	background-color: rgba(15, 40, 89, 0.5);
	text-align: center;
	color: #EBF0F2;
}

.sectionBody{
	width: 100%;
	padding: 0.5em;
}

.section {
	width: 100%;
	padding-bottom: 1.5em;
}

#section1 {
	background-color: rgba(51,58,66,1);
}

#section2 {
	background-color: rgba(51,58,66,1);
}

#section3 {
	background-color: rgba(51,58,66,1);
}

#section4 {
	background-color: rgba(51,58,66,0.7);
	height: 100vh;
}

#section4Header {
	margin-bottom: 5vh;
}

#mePicContainer {
	padding-top: 2.5em;
}

#mePic {
	max-width: 100%;
	max-height: 100%;
}

.subtitle{
	color: #EBF0F2;
}


.imgOverlay {
	display: absolute;
	background-color: rgba(51,58,66,1);
	opacity: 0;
	width: 100%;
	height: 100%;
	padding-top: 3em;
	text-align: center;
	font-size: 2em;
	color: #2B73FF;
}

.imgOverlay:hover {
	cursor: pointer;
}

#imgExpenshare {
	background-image: url("/images/expenshareSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgSoundscape {
	background-image: url("/images/soundscapeSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgMCM {
	background-image: url("/images/MCMpic.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgTwitter {
	background-image: url("/images/twitterFeels.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgUIST {
	background-image: url("/images/kinomaSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}
#imgSpectral {
	background-image: url("/images/lakeSquare.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 15em;
	margin-bottom: 3em;
}

.modal-title {
	color: rgba(15, 40, 89, 0.6);
	display: inline;
}

.modal-body {
	display: inline-block;
	position: absolute;
	float: right;
	background-color: white;
}

.modal-body p {
	color: black;
}

#tabContainer {
	margin-left: 5em;
	padding-right: 11em;

}

.skillsul {
	list-style-type: none;
	left: 50%;
	text-align: center;
}

.skillsli1 {
	display: inline;
	font-size: 3em;
	margin: 0.5em;
	color: #2B73FF;
}
.skillsli2 {
	display: inline;
	font-size: 2em;
	margin: 0.5em;
	color: #2768E8;
}
.skillsli3 {
	display: inline;
	font-size: 1.5em;
	margin: 0.5em;
	color: #235ED1;
}
.skillsli4 {
	display: inline;
	font-size: 1em;
	margin: 0.5em;
	color: #2056BF;
}

.nav-tabs > li > a:hover{
    background-color: rgba(41,48,56,1);
    color: #4B93FF;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    background-color: rgba(51,58,66,1);
    color: #4B93FF;
}
